.font-change{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
}

.advertisment-change{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}

.adv-span{
   font-size: 15px;
   font-style: italic;
   color: red;
}

.course-header{
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header-span{
    font-size: 80%;
    line-height: 25px;
    color: grey;
    font-weight:normal;
}

.course-description{
    font-family: Verdana;
    font-size: 15px;
    width: 270px;
    margin-top: 0;
}

.start-btn{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adv-text{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.desc-span{
    line-height: 30px;
    font-size: 60%;
    font-weight: normal;
}

.link-span{
    color:rgb(22, 131, 233);
    font-size: 65%;
    font-weight: normal;
    cursor: pointer;
}

.link-span:hover{
    text-decoration: underline;
}

.apple-adv{
    color: orange;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 8px;
}

.prod-name{
    color: black;
    font-size: 150%;
    line-height: 15px;
}

.prod-desc{
    color: black;
    font-size: 270%;
}

.prod-price{
    color: black;
    font-weight: normal;
    line-height: 20px;
}

.buy-btn{
    font-size: 10px;
    background-color: rgb(22, 131, 233);
    color: white;
    border-radius: 20px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.buy-btn-a{
    text-align: center;
    margin-top: 0;
}

.amount{
    margin-bottom: 0;
    font-family: Arial;
    font-weight: bold;
}

.currency{
    font-size: 60%;
    color: grey;
    font-weight: normal;
}

.today{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 15px;
    color:green;
    font-size: 55%;
    font-family: Arial;
}

.after-hours{
    margin-top: 0;
    color: grey;
    font-family: Arial;
    font-size: 10px;
    line-height: 15px;
}

.after-hours-p{
    color: red;
}

.auth-name{
    line-height: 14px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.auth-login{
    color: grey;
    font-weight: normal;
}

.post-cont{
    margin-top: 0;
    line-height: 14px;
    font-family: Arial;
    font-size: 10px;
}

.prof-link{
    color: rgb(104, 181, 253);
}
