p{
    font-family: montserrat;
    margin-bottom: 0;
    margin-top: 0;
}

.header-stl{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.order-hdr{
    text-align: center;
    font-size: 28px;
}

.order-span{
    text-decoration: underline;
}