            .subs-button{
                background-color: rgb(185, 0, 0);
                color: white;
                border: none;
                border-radius:2px;
                cursor: pointer;
                margin-right: 8px;
                transition: opacity 0.15s;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
                vertical-align: top;
            }
        
            .subs-button:hover{
                opacity: 0.7;
            }
        
            .subs-button:active{
                opacity: 0.4;
            }
        
            .join-button{
                background-color: white;
                border-color: rgb(3, 152, 238);
                border-style: solid;
                border-width: 1px;
                border-radius: 2px;
                color: rgb(3, 152, 238);
                cursor: pointer;
                transition: background-color 0.15s,
                color 0.15s;
                padding-top: 9px;
                padding-bottom: 9px;
                padding-left: 16px;
                padding-right: 16px;
                vertical-align: top;
            }
            
            .join-button:hover{
                background-color: rgb(3, 152, 238);
                color: white;
            }
        
            .join-button:active{
                opacity: 0.7;
            }
        
            .tweet-button{
                background-color: rgb(22, 131, 233);
                border: none;
                border-radius: 30px;
                padding-top: 9px;
                padding-bottom: 9px;
                padding-left: 16px;
                padding-right: 16px;
                color: white;
                margin-left: 8px;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
                transition: box-shadow 0.15s;
                vertical-align: top;
            }
        
            .tweet-button:hover{
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
            }
            
            .tweet-button:active{
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
        
            .uber-button{
                background-color: black;
                color: white;
                width: 105px;
                height: 35px;
                cursor: pointer;
                transition: opacity 0.15s;
            }
        
            .uber-button:hover{
                opacity: 0.8;
            }
        
            .uber-button:active{
                opacity: 0.5;
            }
        
            .download-btn{
                background-color: white;
                border-width: 1px;
                border-style: solid;
                border-color: grey;
                border-radius: 3px;
                width: 105px;
                height: 35px;
                color: grey;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.15s, color 0.15s, opacity 0.15s;
            }
        
            .download-btn:hover{
                background-color: grey;
                color: white;
            }
        
            .download-btn:active{
                opacity: 0.8;
            }